@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #0ef;
  --light-color: #fff;
  --dark-color: black;
}

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--light-color);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081b29;
}


.form-wrapper {
  border-radius: 10px;
}

label {
  font-size: 18px;
  font-weight: lighter;
  transition: 0.5s;
  font-weight: bold;
}

input {
  transition: 0.5s;
  color: var(--dark-color);
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  transition: all .1s ease-in-out;
}

input:focus {
  outline: 2px solid var(--main-color);
}

.sub-btn {
  transition: 0.5s;
  cursor: pointer;
  background: var(--main-color);
  outline: none;
  margin: 10px 0;
}

.new-btn {
  border: transparent;
  background-color: var(--main-color);
  color: #081b29;
  border-radius: 10px;
  padding: 5px 25px;
  margin: 5px;
}

.new-btn:hover {
  background-color: #fff;
  transition: 0.5s;
}

/*In edit student detail we will make this hidden class in a div*/
.hidden {
  display: none;
}

table,
th,
td {
  text-align: center;
  border: 3px solid rgb(17, 190, 196);
}


.box {
  box-shadow: rgba(126, 203, 236, 0.12) 0px 15px 15px 0px,
    rgba(131, 209, 243, 0.32) 0px 0px 8px 8px;
  position: relative;
  width: 700px;
  height: fit-content;
  background: transparent;
  border: 3px solid rgb(17, 190, 196);
}

/* button animation */
.btn:link,
.btn:visited {
  display: inline-block;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: #081b29;
}

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.331);
}

.btn-white {
  background-color: var(--main-color);
  color: #081b29;
  font-size: 17px;
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.6) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}